Hey {{ brand.brand_name }} team! 👋

Reaching out from @{{ creator.username }}'s management team ({{ "{:,}".format(creator.followers_count) }} followers).

We are big fans of {{ brand.brand_name }} and put together a high-converting UGC video concept tailored for your ads:
"{{ brand.suggested_angle }}"

Who is the best person on your influencer/marketing team to send a quick 20-second concept video to? 🚀
